/* =============================================================================
   Base
   ========================================================================== */

body {
  margin: 0;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  /*color: @grey;*/
  /*background-color: @tan;*/
}

.button{
	.border-radius(3px);
	padding: 8px 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 11px;
}


.red{
	color: @red;
	&.button{
		color: white;
		background: @red;
		&:active, &:hover{
			background: darken(@red, 10%);	
		}
	}
}


/* =============================================================================
   Grid
   ========================================================================== */



/* =============================================================================
   Header
   ========================================================================== */


/* =============================================================================
   Slider
   ========================================================================== */

/* =============================================================================
   Navbar
   ========================================================================== */


/* =============================================================================
   Content
   ========================================================================== */


/* =============================================================================
   Home Page
   ========================================================================== */

/* =============================================================================
   About Page
   ========================================================================== */



/* =============================================================================
   Sidebar
   ========================================================================== */



/* =============================================================================
   Posts
   ========================================================================== */



/* =============================================================================
   Post Comments
   ========================================================================== */



/* =============================================================================
   Widgets
   ========================================================================== */


/* =============================================================================
   Footer
   ========================================================================== */

/* =============================================================================
   Forms
   ========================================================================== */



/* =============================================================================
   Media Queries
Breakpoints provided by 320 and Up by Andy Clarke
URL: http://stuffandnonsense.co.uk/projects/320andup/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
   ========================================================================== */

/*@media print {*/
/*@import "media/print.less";*/
/*}*/

/*// 480px*/
/*@media only screen and (min-width: 480px) {*/
/*@import "media/480.less";*/
/*}*/

/*// 600px*/
/*@media only screen and (min-width: 600px) {*/
/*@import "media/600.less";*/
/*}*/

/*// 768px*/
/*@media only screen and (min-width: 768px) {*/
/*@import "media/768.less";*/
/*}*/

/*// 992px*/
/*@media only screen and (min-width: 992px) {*/
/*@import "media/992.less";*/
/*}*/

/*// 1382px*/
/*@media only screen and (min-width: 1382px) {*/
/*@import "media/1382.less";*/
/*}*/

/*// 2x*/
/*@media*/
/*only screen and (-webkit-min-device-pixel-ratio: 1.5), */
/*only screen and (min--moz-device-pixel-ratio: 1.5),*/
/*only screen and (min-device-pixel-ratio: 1.5) {*/
/*@import "media/2x.less"; */
/*}*/

